/* Custom CSS styles */

/* Para cambiar el color del fondo, ir al linea 8 */

body {
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}


img{-webkit-user-drag: none;}

a {-webkit-user-drag: none;}

.row {
	padding-bottom: 50px;
}

